<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", "syntax" %>

    <%= javascript_include_tag  "all" %>
  </head>
  <body class="<%= page_classes %>">
    <header class="app-header">
      <div class="app-brand">
        <a href="" class="icon-github"></a>
        <a href="" class="icon-twitter"></a>
        <a href="" class="icon-facebook"></a>
        <a href="#" class="icon-bars right" id="toggle"></a>
      </div>
      <div class="last-col">
        <a href="/">Common patterns of markup and style</a>
      </div>
    </header>
    <section class="app-body">
      <aside class="app-sidebar">
        <div class="app-scroller">
          <h4 class="pam">CONTENTS</h4>
          <ul class="app-navigation">
            <li>
              <a href="#" class="icon-code"> Navigations</a>
              <ul>
                <li><%= link_to "Navigation", "/patterns/navigations/navigation.html" %></li>
                <li><%= link_to "Tabs", "/patterns/navigations/tabs.html" %></li>
                <li><%= link_to "Pagination", "/patterns/navigations/pagination.html" %></li>
              </ul>
            </li>
            <li>
              <a href="#" class="icon-code"> Form elements</a>
              <ul>
                <li><%= link_to "Input", "/patterns/forms/input.html" %></li>
                <li><%= link_to "Checkbox", "/patterns/forms/checkbox.html" %></li>
                <li><%= link_to "Radio", "/patterns/forms/radio.html" %></li>
                <li><%= link_to "Select", "/patterns/forms/select.html" %></li>
              </ul>
            </li>
            <li>
              <a href="#" class="icon-code"> Buttons</a>
              <ul>
                <li><%= link_to "Button", "/patterns/buttons/button.html" %></li>
                <li><a href="/patterns/buttons/button.html">Button</a></li>
              </ul>
            </li>
<!--             <li><a href="" class="icon-code"> Article</a></li>
            <li><a href="" class="icon-code"> Icons</a></li> -->
          </ul>
        </div>
      </aside>
      <div class="last-col">
        <div class="app-scroller">
          <section class="app-content">
            <%= yield %>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
